
/bin/ff*
/bin/mkv*
/_builds/*
/crunchy-*
/node_modules/
/videos/*.json
session.yml
package-lock.json
*.user.yml
*.ttf
*.otf
*.txt
*.exe
*.dll
*.ts
*.mkv
*.mp4
*.resume
*.srt
*.ass
*.bat
!cmd-here.bat
*.7z
*.zip
